.about{
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid white;
}
.about div{
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 60%;
  gap: 60px
}

p{
  margin-bottom: 0;
}


.profil{
  height: 82px;
  width: 82px;
  border-radius: 50%;
  background-color: white;
}


h1{
  align-self: flex-start;
  margin-top: 70px;
  margin-left: 50px;
  color: white;
}