.about{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid white;
  margin-bottom: 50px;
  min-height: 100vh;
}
.aboutMe{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 70px
}

.journey{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
  width: 80%;
  text-align: center;
}

.journey img{
  background-color: white;
  height: 92px;
  width: 92px;
  border: 10px solid white;
  border-radius: 50%;
  margin-bottom: 25px;
}

span{
  margin-top: 100px;
}

p{
  margin-bottom: 0;
}


.profil{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: white;
}


h1{
  align-self: flex-start;
  margin-top: 80px;
  margin-left: 50px;
  color: white;
}

@media screen and ( max-width: 992px){
  .aboutMe{
    flex-direction: column;
    align-content: center;
    gap: 30px
  }

}

@media screen and ( max-width: 800px){

  .journey{
    margin-top: 50px;
    flex-direction: column;
    gap: 50px;

  }
}