<section class="projects" id="projects">
  <h1>{{ text1 }} Portfolio</h1>
  <div class="cards">
    <a
      href="https://valer-neufeld.developerakademie.net/elpolloloco/index.html"
      target="_blank"
      ><div class="card orange">
        <p class="orange-color">El Pollo Loco - {{ text2 }}</p>
        <img src="assets/elpolloloco.png" alt="" />
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a
    >
    <a
      href="https://gruppe-302.developerakademie.net/join-302/html/board.html"
      target="_blank"
      ><div class="card blue">
        <p class="blue-color">Join - {{ text3 }}</p>
        <img src="assets/join.png" alt="" />
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a
    >
    <a
      href="https://valer-neufeld.developerakademie.net/CloneInsta/Instagram/index.html"
      target="_blank"
      ><div class="card green">
        <p class="green-color">Instagramies - {{ text4 }}</p>
        <img src="assets/insta.png" alt="" />
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a
    >
    <a
      href="https://ring-of-fire-60e50.web.app"
      target="_blank"
      ><div class="card red">
        <p class="red-color">Ring of Fire - {{ text5 }}</p>
        <img src="assets/ringoffire.jpg" alt="" />
        <div class="overlay">
          <div class="text">{{ text6 }}</div>
        </div>
      </div></a
    >
  </div>
</section>
