<section class="projects" id="projects">
  <h1>{{ text1 }} Portfolio</h1>
  <div class="cards">
    <div class="card red">
      <p class="red-color">El Pollo Loco - {{ text2 }}</p>
    </div>
    <div class="card blue">
      <p class="blue-color">Join - {{ text3 }}</p>
    </div>
    <div class="card green">
      <p class="green-color">Instagramies - {{ text4 }}</p>
    </div>
    <div class="card orange">
      <p class="orange-color">Ring of Fire - {{ text5 }}</p>
    </div>
  </div>
</section>
