.projects{
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid white;
}

h1{
  align-self: flex-start;
  margin-left: 50px;
  color: white;
}

.cards{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card{
  height: 300px;
  width: 300px;
  background: black;
  box-shadow: rgb(135, 143, 150) 0px 20px 30px -10px;
  animation: bounce 2s ease-in-out;
  transition: opacity 0.7s ease-out, transform 0.7s,

}

.red{
  border-top: 4px solid red;
  border-bottom: 4px solid red;
}

.blue{
  border-top: 4px solid rgb(38, 137, 194);
  border-bottom: 4px solid rgb(38, 137, 194);
}

.green{
  border-top: 4px solid green;
  border-bottom: 4px solid green;
}

.orange{
  border-top: 4px solid orange;
  border-bottom: 4px solid orange;
}

.red-color{
  color: red;
}
.blue-color{
  color: rgb(38, 137, 194);;
}

.green-color{
  color: rgb(35, 175, 35);
}

.orange-color{
  color: rgb(194, 149, 65);
}

p{
  text-align: center;
}

@keyframes bounce{
  0%{
    transform: translateY(15px);
  }
}
