<section class="projects" id="projects">
  <h1>{{ text1 }} Portfolio</h1>
  <div class="cards">
    <a href=""
      ><div class="card orange">
        <p class="orange-color">El Pollo Loco - {{ text2 }}</p>
        <img src="assets/elpolloloco.png" alt="" /></div
    ></a>
    <a href=""
      ><div class="card blue">
        <p class="blue-color">Join - {{ text3 }}</p>
        <img src="assets/join.png" alt="" /></div
    ></a>
    <a href=""
      ><div class="card green">
        <p class="green-color">Instagramies - {{ text4 }}</p>
        <img src="assets/insta.png" alt="" /></div
    ></a>
    <a href=""
      ><div class="card red">
        <p class="red-color">Ring of Fire - {{ text5 }}</p>
        <img src="assets/ringoffire.jpg" alt="" /></div
    ></a>
  </div>
</section>
