.contact{
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid white;
}

h1{
  align-self: flex-start;
  margin-left: 50px;
  color: white;
}